* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.intestazione {
    width: 100%;
    height: 150px;
    background-color: yellow;
}

.contenitoremain::after {
    content: "";
    display: table;
    clear: both;
}

.sezione1, .sezione2 {
    height: 300px;
    width: 20%;
    background-color: #DF73FF;
    float: left;
    margin-top: 1%;

}

.sezionecentrale {
    height: 450px;
    width: 50%;
    background-color: #991199;
    float: left;
    /* margin: 0 5%; */
    margin: 1% 5% 1% 5%;
}

.sezione2 {
background-color: #fff;
}

.articolo1 {
    height: 150px;
    width: 100%;
    background-color: #DF73FF;
    float: right;
}


.articolo2 {
    height: 150px;
    width: 100%;
    background-color: #DF73FF;
    float: right;
    margin-top: 20px;
}

.bloccofooter {
    width: 100%;
    height: 100px;
    background-color: #ABCDEF;
}
